
.components {
  margin: 1% 20%;
}
.circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.activeTheme {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.header,
.header-logo,
.task_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header{
  background-color: white;
  border: 2px solid rgb(210, 210, 210);
  padding: 1rem;
}

.logo {
  height: 5rem;
}

.color-btns > button,
.header-logo {
  gap: 2rem;
  margin-right: 1rem;
}

.addTask {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
  border: 1px solid rgb(210, 210, 210);
  padding: 5rem;
}
input {
  height: 3rem;
  width: 50%;
  border: 2px solid rgb(210, 210, 210);
}

.addBtn {
  height: 3.5rem;
  width: 20%;
  background-color: rgb(88, 132, 21);
  border: none;
  border-radius: 1rem;
  color: white;
  font-weight: bolder;
  font-size: larger;
}

.task_section {
  border: 1px solid rgb(191, 188, 188);
  padding: 2rem;
}

.task_header > button {
  background-color: blue;
  padding: 1rem;
  color: white;
  font-weight: bolder;
  font-size: larger;
  border: none;
  border-radius: 1rem;
}

.task_plate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(183, 177, 177);
  border-radius: 1rem;
  border-left: 1rem solid blue;
  margin: 1rem;
}

.task_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task_actions {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 2rem;
  gap: 1rem;
}

.show_num {
  background-color: rgb(192, 191, 191);
  padding: 0.3rem;
  border-radius: 50%;
}

.task_header{
  margin: 2rem;
  padding: 2rem;
  border-bottom: 2px solid rgb(114, 110, 110);
}

.header-logo > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
  color: purple;
  list-style-type: none;
}

.active{
  background-color: greenyellow;
  padding: 1rem;
  border-radius: 1rem;
}