
.components {
  margin: 1% 20%;
}
.circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.header,
.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header{
  background-color: white;
  border: 2px solid rgb(210, 210, 210);
  padding: 1rem;
}

.logo {
  height: 5rem;
}

.color-btns > button,
.header-logo {
  gap: 2rem;
  margin-right: 1rem;
}

.addTask {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
  border: 1px solid rgb(210, 210, 210);
  padding: 5rem;
}
input {
  height: 3rem;
  width: 50%;
  border: 2px solid rgb(210, 210, 210);
}

.addBtn {
  height: 3.5rem;
  width: 20%;
  background-color: rgb(88, 132, 21);
  border: none;
  border-radius: 1rem;
  color: white;
  font-weight: bolder;
  font-size: larger;
}