.light{
    background-color: white;
}

.grey{
    background-color: rgb(188, 187, 187);
}

.dark{
    background-color: black;
    color: white;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}